@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

* {
	padding: 0;
	margin: 0;
}

body {

	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #222222;
	line-height: 1.3em;
}

p {
	font-family: Times, Georgia, serif;
}

div {
	background: url("images/heroimage.jpg");
	background-size: cover;
	padding-bottom: 500px;
	padding-top: 100px;
}

footer {
	text-align: center;
}

#slogan {
	color: #000;
	text-align: center;
	font-family: 'Homemade Apple', cursive;
	font-style: italic;
	font-size: 45px;
}

.summary {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 20px;
}

.services {
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    width: 15em;
    float: left;
}

ul {
	list-style: none;
}

a {
	color: #cccccc;
	text-decoration: none;
}

nav a {
	color: #cccccc;
	margin-right: 10px;
}