@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {

	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #222222;
	line-height: 1.3em;
}

#intro {
	background: url("images/heroimage.jpg");
	background-size: cover;
	padding: 15em 0;
	height: 100vh;
	background-position: bottom;
}

img {
	width: 100%;
}

ul {
	list-style: none;
	background-color: #e6ffe6;
	padding: 0 1em;
	max-width: 1200px;
	margin: auto;
}

a {
	color: green;
	text-decoration: none;
}

a:hover {
	color: orange;
	-webkit-transition: color ease-in-out .5s;
	-moz-transition: color ease-in-out .5s;
	-o-transition: color ease-in-out .5s;
	transition: color ease-in-out .3s;
}

nav {
	float: right;
}

nav a {
	font-size: .8em;
	color: green;
	padding: 1em;
}
section {
	padding: 10em 0;
}
div {
}

span {
	font-style: italic;
	padding: 0 .1em;
}

h2 {
	text-align: center;
}

p {
	font-family: Times, Georgia, serif;
	text-align: center;
}

figure {
  	display: table;
}

figcaption {
	padding: .5em;
  	display: table-caption;
  	caption-side: top;
  	color: green;
}

footer {
	text-align: center;
	background: #99ff99;
	padding: 20px;
}

#mobile {
	display: none;
}

#name {
	float: left;
	color: green;	
	padding-left: 1em;
	word-spacing: .1em;
	text-transform: uppercase;
	font-size: .9em;
}

#slogan {
	color: #000;
	text-align: center;
	font-family: 'Homemade Apple', cursive;
	font-style: italic;
	font-size: 5em;
	word-spacing: .3em;
	line-height: 1.5em;
}

#calltoaction {
}

#services {
	background: #e6ffe6;
}

#about {
	background: #b3ffb3; 
	padding: 1em 6em;
	text-align: center;
}

#info {
	padding: 1em;
}

#contacttitle {
	padding-bottom: 1em;
}

#love {
	background: #ccffcc;
	text-align: center;
}

.summary {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 1em
}

.services {
    text-align: center;
    padding: 1em 2em;
    width: 50%;
    float: left;
}

.testimonial {
	padding: 1em 6em;
	text-align: center;
}

.socialmedia {
    padding-right: 1em;
    width: 3em;
    margin: 1em auto;
    display: inline-block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media only screen and (max-width: 1000px) {
	#slogan {
		font-size: 4.3em;
	}
}

@media only screen and (max-width: 840px) {
	#slogan {
		font-size: 3.5em;
	}
}

@media only screen and (max-width: 710px) {
	.services {
		width: 100%;
	}
	.testimonial {
		padding: 1em 3em;
	}
	#about {
		padding: 1em 3em;
	}
	#slogan {
		font-size: 3em;
	}
}

@media only screen and (max-width: 690px) {
	#mobile {
		display: block;
	}
	
	nav a {
		width: auto;
		padding: .3em;
		display: none;
	}

	nav:hover a {
		display: block;
	}

	#slogan {
		font-size: 2.5em;
		word-spacing: none;
	}
	.services {
		padding: 1em;
	}

	.testimonial {
		padding: 1em;
	}

	#about {
		padding: 1em;
	}
}	


