@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {

	font-family: Helvetica, Arial, sans-serif;
	font-size: 24px;
	color: #222222;
	line-height: 1.3em;
}

img {
	width: 100%;
}

a {
	color: green;
	text-decoration: none;
}

a:hover {
	color: orange;
	-webkit-transition: color ease-in-out .5s;
	-moz-transition: color ease-in-out .5s;
	-o-transition: color ease-in-out .5s;
	transition: color ease-in-out .3s;
}

nav {
	float: right;
}

nav a {
	font-size: .7em;
	color: green;
	padding: 1em;
}

section {
	padding: 5em 0;
}

span {
	font-style: italic;
	padding: 0 .1em;
}

h2 {
	text-align: center;
	padding-bottom: 2em;
	color: #006400;
}

h3 {
	color: green;
	padding-bottom: 1em;
}

p {
	font-family: Times, Georgia, serif;
	text-align: center;
	color: #474242;
}

footer {
	text-align: center;
	background: #99ff99;
	padding: 5em 0 1em 0;
}

#mobile {
	display: none;
}

#intro {
	background: url("images/heroimage.jpg");
	background-size: cover;
	padding: 7em 0;
	height: 120vh;
	background-position: bottom;
}

#name {
	float: left;
	color: green;	
	padding-left: .1em;
	word-spacing: .1em;
	text-transform: uppercase;
	font-size: .9em;
	font-weight: 500;
	color: #006400;
}

#slogan {
	color: #000;
	text-align: center;
	font-family: 'Homemade Apple', cursive;
	font-style: italic;
	font-size: 4.5em;
	word-spacing: .3em;
	line-height: 1.5em;
	color: #006400;
}

#services {
	background: #e6ffe6;
}

#about {
	background: #b3ffb3; 
	text-align: center;
}

#love {
	background: #ccffcc;
	text-align: center;
}

#info {
	padding-right: 10em;
	padding-left: 10em;
}

.summary {
	font-family: Helvetica, Arial, sans-serif;
}

.services {
    text-align: center;
    padding: 1em 2em;
    width: 50%;
    float: left;
}

.testimonial {
	padding: 1em 10em;
	text-align: center;
}

.socialmedia {
    padding-right: .5em;
    width: 3em;
    margin: 1em auto;
    display: inline-block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media only screen and (max-width: 1100px) {
	#slogan {
		font-size: 4.1em;
	}

	#info {
	padding-right: 5em;
	padding-left: 5em;
	}

	.testimonial {
	padding: 1em 5em;
	text-align: center;
	}
}

@media only screen and (max-width: 940px) {
	#slogan {
		font-size: 3.7em;
	}
}

@media only screen and (max-width: 850px) {
	#slogan {
		font-size: 3.2em;
	}
}

@media only screen and (max-width: 750px) {
	body {
		font-size: 20px;
	}

	#mobile {
		display: block;
	}
	
	nav a {
		width: auto;
		padding: .3em;
		display: none;
	}

	nav:hover a {
		display: block;
	}

	#intro {	
	padding: 9em 0;
	}

	#slogan {
		font-size: 3.5em;
		word-spacing: none;
	}
	.services {
		float: none;
		width: auto;
	}

}

@media only screen and (max-width: 650px) {	
	#slogan {
		font-size: 3em;
	}
}

@media only screen and (max-width: 600px) {	
	#slogan {
		font-size: 2.6em;
	}
}

@media only screen and (max-width: 490px) {	
	#slogan {
		font-size: 2.4em;
	}

	#info {
	padding-right: 2em;
	padding-left: 2em;
	}

	.testimonial {
	padding: 1em 2em;
	text-align: center;
	}
}

@media only screen and (max-width: 465px) {	
	#slogan {
		font-size: 2.1em;
	}
}

@media only screen and (max-width: 435px) {	
	#slogan {
		font-size: 2em;
	}
}












