body {
	background: url(images/rooftop.jpg);
	background-size: cover;
	color: #000;
	text-align: left;
	font-family: Helvetica, sans-serif;
}

#slogan {
	text-align: center;
	font-style: italic
}

ul {text-align: left;
}

a {
	text-decoration: none;
}